/* Утілити */
:root {
  --first-color: #212121;
  --secondary-color: #757575;
  --button-color: #2196f3;
  --text-color: #fff;
  --secondary-logo-color: #000;
  --background-color: #2f303a;
  --white-background-color: #f5f4fa;
  --header-line-color: #ececec;
  --hero-background: #c4c4c4;
  --anim-fast: 300ms ease-out;
  --anim-slow: 800ms ease;

  --modal-idx: 100;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  color: var(--first-color);
  background-color: var(--text-color);
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}


/* Хедер */

header li {
  list-style: none;
}

header a {
  text-decoration: none;
}

.portfolio-header {
  border: 1px solid var(--header-line-color);
}

.site-nav {
  display: flex;
  align-items: center;
}
.nav-flex {
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 93px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--button-color);
}
.logo-header {
  color: var(--secondary-logo-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.list-nav {
  display: flex;
  gap: 50px;
}

.contacts-list {
  display: flex;
  gap: 50px;
  margin-left: auto;
  align-items: center;
}

.header-link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--first-color);
  position: relative;
}

.header-link:hover,
.header-link:focus {
  color: var(--button-color);
}

.header-link.current::after {
  content: '';
  position: absolute;
  left: 50%;
  margin-top: 28px;

  transform: translateX(-50%) scaleX(1);

  display: block;
  width: 100%;
  height: 4px;

  border-radius: 2px;

  background-color: var(--button-color);
  opacity: 1;
  /* transition: transform var(--anim-fast), opacity var(--anim-fast) ; */
}

.header-link.current:hover::after,
.header-link.current:focus::after {
  transform: translateX(-50%) scaleX(1);
  opacity: 1;
  color: var(--button-color);
}


.contacts {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 32px 0px;

  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.contacts:hover .contacts-icon,
.contacts:focus .contacts-icon {
  fill: var(--button-color);
}

.contacts:hover,
.contacts:focus {
  color: var(--button-color);
}

.current {
  color: var(--button-color);
  opacity: 1;
}

.contacts-icon {
  margin-right: 10px;
  fill: #757575;
}

.icon-contacts-items {
  display: flex;
}

/* Студія */

/* Герой */

.hero {
  background-color: var(--hero-background);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  width: 1600px;
  margin-right: auto;
  margin-left: auto;

  padding: 200px 0;
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  text-align: center;
  width: 696px;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--text-color);
}

.main-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
}
.hero-button {
  width: 216px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.06em;
  border-style: none;
  border-radius: 4px;

  color: var(--text-color);
  background-color: var(--button-color);
}
.hero-button:hover,
.hero-button:focus {
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  background-color: #188ce8;
}

/* Переваги */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.benefits li {
  list-style: none;
}

.benefits {
  padding-bottom: 0px;
}

.benefits-sector {
  display: flex;
  column-gap: 30px;
}

.benefits-item {
  width: 270px;
}

.benefits-item:last-child {
  margin-right: 0px;
}

.benefits-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;

  margin-bottom: 30px;

  background: var(--white-background-color);
  border-radius: 4px;
}

.benefits-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.benefits-paragraph {
  padding-top: 10px;

  line-height: 1.7;

  color: var(--secondary-color);
}

/* Наша робота */

.working li {
  list-style: none;
}

.section-title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.working-list {
  display: flex;
  column-gap: 30px;
}

.working-container {
  position: relative;

}

.working-about {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 0;
  left: 0;
  background-color:rgba(47, 48, 58, 0.8);
}

.working-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--text-color);
}

/* Наша команда */
.team li {
  list-style: none;
}

.team {
  background: var(--white-background-color);
}
.team-list {
  display: flex;
  column-gap: 30px;
}
.team-card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: var(--text-color);
}

.team-name {
  margin-top: 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.team-position {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;

  color: var(--secondary-color);
}
.team-item {
  padding: 30px;
  padding-bottom: 15px;
}

.social-list {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  padding-bottom: 30px;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--text-color);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--button-color);
}
.social-list-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--text-color);
}

/* Постійні клієнти */

.client-list li {
  list-style: none;
}

.client-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;

  color: var(--first-color);
}

.client-list {
  display: flex;
  gap: 30px;
}

.client-list-item {
  display: flex;
  /* justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px; 
  height: 92px; */
}

.client-list-item:hover,
.client-list-item:focus {
  cursor: pointer;
  outline: 1px solid var(--button-color);
  border-radius: 4px;
}

.client-link {
  fill: #afb1b8;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  display: flex;
}

.client-link:hover,
.client-link:focus {
  fill: var(--button-color);
}

/* Футер */
.footer-list {
  background: var(--background-color);
}

footer li {
  list-style: none;
}

footer a {
  text-decoration: none;
}

.main-footer {
  margin-right: 70px;
}

.footer-list {
  padding-top: 60px;
  padding-bottom: 60px;
}
footer .logo {
  display: block;
  margin-bottom: 20px;
}
.logo-secondary-color {
  color: var(--text-color);
}

address {
  font-style: normal;
}

.address-link {
  line-height: 24px;

  color: var(--text-color);
}

.contacts-footer {
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 0.02em;

  color: rgba(255, 255, 255, 0.6);
}

.contacts-footer:hover,
.contacts-footer:focus {
  color: var(--button-color);
}

.street,
.mail-contacts {
  margin-bottom: 9px;
}

.footer-title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color);
}

.footer-flex {
  display: flex;
  align-items: baseline;
}

.footer-social-list {
  display: flex;
  column-gap: 10px;
}
.footer-icon {
  width: 20px;
  height: 20px;
  fill: var(--text-color);
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--button-color);
}


/* Модальне Вікно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--modal-idx);

  width: 100%;
  height: 100%;

  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(1px);
  transition: opacity 150ms linear, visibility 150ms linear;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  width: 530px;
  min-height: 580px;

  background-color:var(--white-background-color);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 4px;

  transition: transform 300ms ease, opacity 300ms ease;
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translateX(-50%) translateY(-70%);
}

.modal-btn {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 32px;
  height: 32px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

/* Портфоліо */
.filter li {
  list-style: none;
}

.filter-button {
  padding: 6px 22px;
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  border-style: none;
  font-style: normal;

  letter-spacing: 0.03em;

  background: var(--white-background-color);
}

.filter-button:hover,
.filter-button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  color: var(--text-color);
  background-color: var(--button-color);
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  gap: 8px;
}

.active {
  width: 73px;
  border-radius: 4px;
  color: var(--text-color);
  background: var(--button-color);
}
/* Галерея */

.gallery li {
  list-style: none;
}
.gallery a {
  display: block;
  text-decoration: none;
}

.gallery-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--first-color);
}

.gallery-paragraph {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.9;

  color: var(--secondary-color);
}

.gallery-thumb {
  padding: 20px 24px;
}

.gallery-list div {
  border: 1px solid #eeeeee;
  width: 370px;
}


.gallery-link:hover,
.gallery-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.gallery-list-img-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--text-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 0.03em;
  overflow: hidden;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-list-img-wrapper:hover .overlay,
.gallery-list-img-wrapper:focus .overlay {
  transform: translateY(0%);
}


